/BreadShop/nbproject/private/
/SendEmailDemo/nbproject/private/
/Assignment/nbproject/private/
/Assignment/build/
/PRJSHOPASM/build/
/PRJSHOPASM/nbproject/private/
/PRJSHOPASM/dist/
/LAB2/nbproject/private/
/LAB2/build/
/ConnectJDBC/build/
/ConnectJDBC/nbproject/private/
/PRJSHOP/build/
/PRJSHOP/nbproject/private/
/LAB3/nbproject/private/
/LAB3/build/
/LAB3/dist/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/LAB4/nbproject/private/
/LAB4/build/
