/BreadShop/nbproject/private/
/SendEmailDemo/nbproject/private/
/Assignment/nbproject/private/
/Assignment/build/
/PRJSHOPASM/build/
/PRJSHOPASM/nbproject/private/
/PRJSHOPASM/dist/
/LAB2/nbproject/private/
/LAB2/build/
/ConnectJDBC/build/
/ConnectJDBC/nbproject/private/
/PRJSHOP/build/
/PRJSHOP/nbproject/private/
